<p><span><a th:href="@{'/'}">Home</a></span>
    <span><a th:href="@{'/ratings/' + ${movie.id}}">Back</a></span></p>
<form action="#" th:action="@{/rating}" th:object="${rating}" method="post">
    <p>
    <label>Reviewer Name</label>
    <input th:if="${rating}" type="text" th:field="*{reviewerName}" th:value="${rating.reviewerName}">
    <input th:if="!${rating}" type="text" th:field="*{reviewerName}">
    <span th:if="${#fields.hasErrors('reviewerName')}" th:errors="*{reviewerName}"></span>
    </p>
    <p>
    <label>Rating %</label>
    <input th:if="${rating}" type="text" th:field="*{percentageRating}" th:value="${rating.percentageRating}" >
    <input th:if="!${rating}" type="text" th:field="*{percentageRating}">
    <span th:if="${#fields.hasErrors('percentageRating')}" th:errors="*{percentageRating}"></span>
    </p>
    <input type="hidden" name="movie" th:value="${movie.id}">
    <input type="hidden" name="rating" th:value="${rating.id}">
    <input type="submit" value="Update Rating">
</form>