<p><span><a th:href="@{'/'}">Home</a></span>
    <span><a th:href="@{'/ratings/' + ${movie.id}}">Back</a></span></p>
<form action="#" th:action="@{/rating}" th:object="${rating}" method="post">
    <label for="name">Reviewer Name</label>
    <input type="text" th:field="*{reviewerName}" id="name" placeholder="Name">
    <label for="rating">Rating %</label>
    <input type="text" th:field="*{percentageRating}" id="rating" placeholder="Rating">
    <input type="hidden" name="movie" th:value="${movie.id}" id="movie">
    <input type="submit" value="Add Rating">
</form>