<p><span><a th:href="@{'/'}">Home</a></span></p>
<form action="#" th:action="@{/movie}" th:object="${movie}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="director">Director</label>
    <select class="form-control" id="director" name="director">
        <option value="">Select Director</option>
        <option th:each="director : ${directors}"
                th:value="${director.id}"
                th:text="${director.name}"></option>
    </select>
    <span th:if="${#fields.hasErrors('director')}" th:errors="*{director}"></span>
    <input type="submit" value="Add Movie">
</form>