<p><span><a th:href="@{'/'}">Home</a></span></p>
<div th:switch="${directors}">
    <h2 th:case="null">No directors yet!</h2>
    <div th:case="*">
        <h2>Directors</h2>
        <table>
            <thead>
            <tr>
                <th align="left" width="30%">Name</th>
                <th align="left" width="10%">Edit</th>
                <th align="left" width="10%">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="director : ${directors}">
                <td th:text="${director.name}"></td>
                <td><a th:href="@{/director/{id} (id=${director.id})}">Edit</a></td>
                <td><a th:href="@{/director/delete/{id}(id=${director.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{'/director/'}">Add Director</a></p>
</div>