<p><div><a th:href="@{'/'}">Home</a></div><div><a href="/movie">Add movie</a></div><div><a href="/directors">Directors</a></div></p>
<div th:switch="${movies}">
    <h2 th:case="null">No movies yet!</h2>
    <div th:case="*">
        <h2>Movies</h2>
        <table>
            <thead>
            <tr>
                <th align="left" width="30%">Name</th>
                <th align="left" width="30%">Director</th>
                <th align="left" width="20%">Rating</th>
                <th align="left" width="10%">Edit</th>
                <th align="left" width="10%">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.name}"></td>
                <td th:text="${movie.director.name}"></td>
                <td th:text="${movie.averageRating}"></td>
                <td><a th:href="@{/movie/{id}(id=${movie.id})}">Edit</a></td>
                <td><a th:href="@{/movie/delete/{id}(id=${movie.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<p></p>
<div>
    <form action="#" th:action="@{/movie/director}" method="post">
            <label>Find Movies By Director</label>
            <select class="form-control" name="director">
                <option th:each="director : ${directors}"
                        th:value="${director.id}"
                        th:text="${director.name}"></option>
            </select>
        <input type="submit" value="Search">
    </form>
</div>
<div>
    <form action="#" th:action="@{/movie/rating}" method="post">
        <label>Find Movies By Rating</label>
        <input type="text" name="rating" value="0">
        <input type="submit" value="Search">
    </form>
</div>